/*==================================
Header
==================================*/

header.single_post_header {
    text-align: center;
    margin-bottom: 50px;
}

/*==================================
Structure
==================================*/

// Less space between site origin panels on single posts

.single .so-widget-sow-editor {
    margin-bottom: 20px;
}

/*==================================
Footer
==================================*/

footer.single_post_footer {
    padding: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

// Tags

.single_post_tags {

    margin: 10px 0;

    a {
        margin-bottom: 5px;
    }

    @include mobile_landscape {
        order: 1;
    }
}

// Social Icons 

footer.single_post_footer {
    .social_share_bar {
    	margin-bottom: 0;

        @include mobile_landscape {
            margin-bottom: 20px;
        }
    }
}