/*==================================
Structure
==================================*/

.map_container {
	position: relative;
	width: 90%;
	margin: 0 auto 30px;
}

/*==================================
Toggles
==================================*/

ul.map_toggles {
    margin: 0 0 20px;
    list-style: none;
    text-align: center;
}

ul.map_toggles li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: $lightgrey;
    cursor: pointer;

    &.active {
    	color: $black;
    }
}

// Description

.map_description_toggle div {
	display: none;

	&.active {
		display: block;
	}
}

/*==================================
Markers
==================================*/

.map_marker {
	cursor: pointer;
	@media all and(min-width: 768px) {
		animation: circle_pulse 1.5s infinite;
		animation-fill-mode: forwards;
	}

	@include tablet {
		// display: none;
	}
}

@keyframes circle_pulse {
	0% {stroke-width: 3}
	50% {stroke-width: 1}
	100% {stroke-width: 3}
}

/*==================================
New Zealand
==================================*/

// Separate SVG Styling for New Zealand map

.map_container .new_zealand {
	position: absolute;
	width: 8%;
	left: 0;
	bottom: 10%;
}

/*==================================
Tooltips
==================================*/

.tooltip {
	position: absolute;
	width: 300px;
	opacity: 0;
	z-index: -99;
	padding: 10px;
	display: flex;
	border-radius: 10px;
	background: #F3F3F3;
}

.tooltip:before {
	content: '';
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #F3F3F3;
	position: absolute;
	bottom: -15px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(180deg);
}

.tooltip.active {
	opacity: 1;
	z-index: 99;
	transition: opacity .3s ease-in;
}

// Media

.tooltip .media {
	width: 30%;
}

.tooltip .media img {
	width: 100%;
	display: block;
}

// Content

.tooltip .content {
	width: 70%;
	padding-left: 20px;
}

.tooltip .content h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
	color: $darkgrey;
	font-size: 16px;
    line-height: 20px;
}

.tooltip .content p {
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 11px;
    color: $darkgrey;
}

// Social

.tooltip .social_icons a {
	color: $darkgrey;
}

/*==================================
Key
==================================*/

.map_key p {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

span.map_key_circle {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;

    &.magenta {
    	background: $magenta;
    }

    &.purple {
    	background: $purple;
    }
}

/*==================================
List of Programs
==================================*/

ul.current_program_list {
	margin: 0 0 20px;
	column-count: 3;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid-column;
	list-style: none;

	@include tablet {
		column-count: 2;
	}

	@include mobile_landscape {
		column-count: 1;
	}
}

ul.current_program_list li {
	margin: 0 0 30px;
	display: inline-block;
	width: 100%;
}

ul.current_program_list h2 {
	margin-bottom: 10px;
	font-size: 25px;
	line-height: 30px;
}

ul.current_program_list h3 {
	font-family: 'museosans-700';
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
}

ul.current_program_list p {
	margin-bottom: 3px;
}